html, body{
    height: 100vh;
}

body{
    background-color: #202124;
    /*box-sizing: border-box;*/
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*region Header*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(247, 231, 52, 0.95);
    border-style: none none solid none;
    border-color: #2B2B2B;
    font-family: "Lucida Console", "Lucida Sans Typewriter",monaco, monospace;
    font-size: 10pt;
}

.logo-container{
    position: relative;
    align-items: center;
    width: 1200px;
    height: 100px;
    z-index: 1;
}

.logo-item h1{
    padding-left: 850px;
    width: 200px;
    margin: 40px;
}

.logo-item{
    position: absolute;
    height: 90px;
    width: 200px;
}

.logo-container img{
    width: 100%;
    position: relative;
    left: 0;
}

.glassesUnder{
    z-index: 1;
}

.glassesOver{
    z-index: 2;
}

.glassesOver:hover{
    opacity: 0;
}
/*endregion*/

/*region Nav Bar*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    background-color: #2E3233
}

nav li:hover{
    background-color: #202124;
}

.dropdown button{
    background: #2E3233;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #2E3233;
    min-width: 100px;
    font-size: 10pt;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
    display: block;
}

.content a:hover{
    background-color: #202124;
}

nav ul{
    list-style-type: none;
    background-color: #2E3233;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav li{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

nav li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px;
}
/*endregion*/

/*region Universal Article CSS*/
article{
    margin: 40px;
    padding: 20px;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, Georgia, serif;
    color: rgba(255, 255, 255, 0.95);
    background-color: #2E3233;
    width: 1200px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    border-style: groove;
    border-color: rgba(32, 33, 36, 0.40);
}

article p{
    padding-left: 30px;
    padding-bottom: 20px;
    margin:0;
}

.about{
    font-size: 16pt;
}

article a{
    text-decoration:none;
    color: rgba(0, 255, 255, 0.4);
}

article a:hover{
    text-decoration: underline;
}

.wThree{
    text-align: center;
    font-size: 18pt;
}

.elementText{
    font-family:'Lucisa Consol', 'Lucida Sans Typewriter', monaco, monospace;
    font-size: 14pt;
}

/*endregion*/

/*region Index Article Flexboxes*/
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    height: 400px;
    width: 1200px;
    background-color: #2E3233;
    justify-content: space-around;
    align-items: center;
}

.flexbox-container-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    width: 1200px;
    background: #2E3233;
    justify-content: space-around;
    align-items: center;
}

.flexbox-item{
    height: 150px;
    width: 150px;
    min-width: 10px;
    border-style: ridge;
    border-color: #2B2B2B;
    opacity: .7;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.10);
}

.flexbox-item-2{
    height: 170px;
    width: 280px;
    min-width: 10px;
    border-style: ridge;
    border-color: #2B2B2B;
    opacity: .7;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.10);
}

.flexbox-item:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out 0s;
}

.flexbox-item-2:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out 0s;
}

/*region Home Page Nav Boxes*/
.container-1{
        background-image: url('dirImg/bold.jpg');
        background-size: cover;
    }

.container-2{
    background-image: url('dirImg/italic.jpg');
    background-size: cover;
}

.container-3{
    background-image: url('dirImg/strikethrough.jpg');
    background-size: cover;
}

.container-4{
    background-image: url('dirImg/underline.jpg');
    background-size: cover;
}

.container-5{
    background-image: url('dirImg/header.jpg');
    background-size: cover;
}

.container-6{
    background-image: url('dirImg/meta.jpg');
    background-size: cover;
}

.container-7{
    background-image: url('dirImg/button.jpg');
    background-size: cover;
}

.container-8{
    background-image: url('dirImg/liLists.jpg');
    background-size: cover;
}

.container-9{
    background-image: url('dirImg/orderedLists.jpg');
    background-size: cover;
}

.container-10{
    background-image: url('dirImg/ulLists.jpg');
    background-size: cover;
}

.container-11{
    background-image: url('dirImg/ListStyle.jpg');
    background-size: cover;
    background-position: center;
}

.container-12{
    background-image: url('dirImg/cursorCSS.jpg');
    background-size: cover;
    background-position: center;
}

.container-13{
    background-image: url('dirImg/boxModelCSS.jpg');
    background-size: cover;
    background-position: center;
}
/*endregion*/
/*endregion*/

/*region Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B;
    width: 100%;
    height: 800px;
    margin-top: 30px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 300px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14pt;
}

.footer-container a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70)
}

.footer-container a:hover{
    color: white;
}

.footer-container ul{
    list-style-type: none;
    padding: 20px;
}

.footer-item{
    height: 90%;
    width: 200px;
}

.footer-item img{
    height: 70%;
    opacity: .7;
}

.footer-item img:hover{
    opacity: 1;
    transition: 0.4s ease-in;
}

.footer-item-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    border-style: none ridge none ridge;
    border-color: black;
}
/*endregion*/

/*region Example Flex's*/
.exampleContainer{
    display: flex;
    justify-content: center;
    margin: 100px;
    font-size: 13pt;
}

.exampleContainer-1{
    border-style: groove;
    width: 400px;
    padding: 10px;
    border-color: black;
}

.exampleContainer-2{
    border-style: groove;
    width: 400px;
    padding: 10px;
    border-color: black;
}

.exampleContainer-3{
    border-style: groove;
    width: 400px;
    padding: 10px;
    border-color: black;
}

.exampleDontDo{
    padding-left: 50px;
}

/*endregion*/

/*region Header Page*/
#headerPage .exampleContainer-1 h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#headerPage .exampleHeaders{
    padding-left: 30px;
}
/*endregion*/

/*region Meta Page*/
#metaPage .exampleContainer-1{
    width: 900px;
}

#metaPage .exampleContainer-1 li{
    padding-left: 10px;
    padding-top: 15px;
}
/*endregion*/

/*region Div Page*/
#divPage .examplecontainer-2{
    display: flex;
}

#divPage .expTop{
    height: 50%;
}

#divPage .expBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30%;
}

#divPage .outterContainer{
    border-style: solid;
    border-color: red;
    width: 100px;
    height: 100px;
}

#divPage .innerContainer{
    border-style: solid;
    border-color: green;
    width: 50px;
    height: 50px;
}
/*endregion*/

/*region Cursor Page*/
#cursorPage ol button{
    height: 30px;
    width: 80px;
    margin: 35px;
    padding: 5px;
    border-style: outset;
}

#cursorPage .button1{
    cursor: move;
}

#cursorPage .button2{
    cursor: crosshair;
}

#cursorPage .button3{
    cursor: wait;
}

#cursorPage .button4{
    cursor: help;
}
/*endregion*/

/*region Box Model Page*/
#boxModelPage .insideExampleContainer-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boxModelPage .exampleBoxModel{
    position: relative;
    padding: 10px;
    border: 15px solid;
    background-color: #FF6666;
    border-color: #6699FF;
    z-index:2;
}

#boxModelPage .marginBoxModel{
    position: absolute;
    background-color: #FFFF66;
    padding: 50px;
    z-index: 1;
}

#boxModelPage .about li{
    padding: 10px;
    margin-left: 40px;
}
/*endregion*/

/*region Text Page*/
#textPage .about li{
    padding: 10px;
    margin-left: 40px;
}
/*endregion*/

/*region Unordered Lists Page*/
#ulListsPage .exampleContainer-1{
    width: 80%;
}
/*endregion*/

/*region Nav Page*/
#navPage .exampleContainer-2 nav{
    display: block;
}

#navPage .exampleContainer-2 nav ul{
    display: block;
    list-style-type: disc;
    padding-left: 60px;
    overflow: visible;
}

#navPage .exampleContainer-2 nav li{
    float: none;
    display: list-item;
    padding: 5px;
    margin:  5px;
    overflow: visible;
    border: 10px;
}

#navPage .exampleContainer-2 nav li:hover{
    background-color: initial;
}
/*endregion*/

/*region Button Page*/
#buttonPage .whatButtonDoList{
    padding-left: 80px;
}

#buttonPage .exampleContainer-1{
    width: 85%;
}

#buttonPage .whatButtonDoList li{
    padding:8px;
}

#buttonPage .exampleContainer-1 li{
    list-style-type: none;
}

#buttonPage .exampleContainer-2 li{
    list-style-type: none;
    margin-top: 20px;
    padding: 15px;
}
/*endregion*/

/*region Underline Page*/
#underlinePage .exampleContainer-1{
    width: 60%;
}
/*endregion*/

/*region List Style Type CSS Page*/
#listStylePage .ulDisc{
    list-style-type: disc;
}

#listStylePage .ulCircle{
    list-style-type: circle;
}

#listStylePage .ulSquare{
    list-style-type: square;
}

#listStylePage .olDecimal{
    list-style-type: decimal;
}

#listStylePage .olUpAlpha{
    list-style-type: upper-Alpha;
}

#listStylePage .olUpRoman{
    list-style-type: upper-roman;
}

#listStylePage .misc{
    list-style-type: "-";
}

#listStylePage .miscClub{
    list-style-type: "♣";
}

#listStylePage .miscColor::marker{
    color: red;
}
/*endregion*/

/*#olListsPage .exampleContainer-1{*/
/*    width: 60%;*/
/*}*/